*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.top-row{
    height: 100vh;
}


@media (min-width: 786px){
    .jumbotron{
        align-self: center;
    }
    .righty{
        margin-left: auto;
    }
    .lefty{
        margin-right: auto;
    }
}
.aboutme{
    width: 60%;
    margin: 0 auto;
    height: 50vh;
}

.righty{
  
    max-width: 800px;
}
.lefty{

    max-width: 800px;
}
.card{
    margin: 2rem 0;
}
