// Base Styles and Typo
:root{
    --main-dark: #011627;
    --main-light: #FDFFFC;
    --main-red: #D81E5B;
    --main-blue: #6E44FF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: var(--main-dark);
    color: var(--main-light);
}
.section{
    padding: 2rem 2rem;
}

.abouthr{
    width: 75%;
    display: block;
    margin: 0 auto;
}
// Nav Bar 

 .nav-link{
     padding-left: 1rem;
     color: var(--main-red)!important; 
     text-decoration: underline;
}
 .nav-link:active{
     background-color: var(--main-red);
     border-radius: 0 10px;
 }
 .nav-link:hover{
     background-color: var(--main-red);
     color: var(--main-light)!important;
 }
// Landing
h1{
    margin-bottom: 3rem;
}
.top-row{
    height: 100vh;
}
.top-intro{
    height: 50%;;   
}

.bottom-intro{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}
.right-col{
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
}
.cta{
    background-color: var(--main-dark);
    border: 1px solid var(--main-red);
    color: var(--main-red);
}
.cta:hover{
    background-color: var(--main-red);
    border: 10px solid var(--main-red);
    
}
// CUBER 
.container-cube {
    width: 9.75rem;
    height: 9.75rem;
    perspective: 43rem;
    -webkit-perspective: 43rem;
    margin: 100px;
    z-index: 10;
  }
  .cube {
    position: relative;
    width: 9.75rem;
    height: 9.75rem;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 0, 45deg);
  }
  .face {
    width: 9.75rem;
    height: 9.75rem;
    border: 2px solid var(--main-red);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }
  .front {
    transform: translateZ(78px);
    height: 100%;
    

  }

  .back {
    transform: translateZ(-78px) rotateY(180deg);

  }
  .left {
    transform: translateX(-78px) rotateY(-90deg);
  }
  .right {
    transform: translateX(78px) rotateY(90deg);
  }
  .top {
    transform: translateY(-78px) rotateX(90deg);
  }
  
  .bottom {
    transform: translateY(78px) rotateX(-90deg);
  }

// about

.aboutme{
    width: 60%;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.crossout{
    text-decoration: line-through;
}
.decon-image-box{
    height: 310px;
    width: 357px;
    position: relative;
    z-index: 1; 
    border: solid 4px var(--main-red);  
    
}

.decon-image{
    width: calc(inherit + 1rem);
    display: block;
    height: inherit;
    margin-top: -1.435em;
    background-color: #fff;
    background-size: cover;
    background-position-x: center;
    margin-left: -1.5em;
    background-image: url(../images/headshotcrop.jpg);
    
}

.aboutmep{
    padding: 1rem 1rem;
    width: 100%;
}
.decon-card-text{
    width: 100%;
    max-height: 300px;
}



// Projects
.card-img-top{
    height: auto;
    width: 100%;
    
}
.projecticons{
    height: 2.5rem;
    width: 2.5rem;
}
.righty{
    max-width: 800px;
}
.lefty{

    max-width: 800px;
}
.card{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    border: solid 4px var(--main-red);
}
.project-link{
    background-color:var(--main-dark);
    color:var(--main-red);
    padding: 1em 1.5em;
    border: solid 1px var(--main-red);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 auto;
}

// Med qu
@media (min-width: 786px){
    .jumbotron{
        align-self: center;
    }
    .righty{
        margin-left: auto;
    }
    .lefty{
        margin-right: auto;
    }
    .top-intro{
        height: 50%;
    }
    .bottom-intro{
        height: 50%;
    }
    .aboutme{
        flex-direction: column;
    }
    .decon-card-text{
        width: 75%;
    }
    .card{
        flex-direction: row;
    }
}
@media (min-width: 1068px){
    .aboutme{
        flex-direction: row;
    }
}
