/* Change all text and icon colors in the player. */
.vjs-matrix.video-js {
    color: $lightblue;
  }
  
  /* Change the border of the big play button. */
  .vjs-matrix .vjs-big-play-button {
    border-color:$lightblue;
  }
  
  /* Change the color of various "bars". */
  .vjs-matrix .vjs-volume-level,
  .vjs-matrix .vjs-play-progress,
  .vjs-matrix .vjs-slider-bar {
    background: $lightblue;
  }
  .vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal {
    color:$lightblue;
  }
  .video-js .vjs-volume-level{
    background-color: $lightblue;
  }
  .video-js .vjs-control-bar{
    background-color: $lightblue;
    opacity: .7;
  }