.aboutme{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--secondary-blue);
h4{
    margin: 1rem 0;
}}
.crossout{
    text-decoration: line-through;
}
.decon-image-box{
  
    border: solid 2px var(--main-blue);  
       
}

.decon-image{
    width: 100%;
    display: block;
    height: inherit;
    margin-top: -1.5rem;
    background-color: #fff;
    background-size: cover;
    background-position-x: center;
    margin-left: -.5rem;
 
}
.aboutmep{
    padding: .5rem 1rem;
    width: 100%;
    font-size: 1.2rem;
    font-Family: 'Fauna One', Serif;
}
.decon-card-text{
    width: 75%;
    font-Family: 'Fauna One', Serif;
}
.aboutme{
    width: 100%;
    background-color: var(--secondary-blue);
}
.spacer-div{
  height: 2rem;
  width: 100%;
  background: transparent;
}