//    CONTACT
.contact-icons-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
   .contact-icon-con{
       display: flex;
       flex-direction: column;
       width: 50%;
       align-items: center;
   }
   
   .contact-p{
    padding: 1rem 1rem;
    width: 100%;
    font-size: 1.2rem;
    font-family: $font-family--secondary;
    text-align: center;
   }
   .contact-icons{
    height: 2.5rem;
    width: 2.5rem;
    margin-bottom: 0.5rem;
    fill: $lightblue;
   }
   .contact-icon-text{
    font-family: $font-family--primary;
   }
   .email-me{
    background-color: $black;
    color: $white;
    padding: 1rem;
    border: solid 1px $rubyred;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 50%;
    margin: 2.5rem auto;
    font-family: $font-family--primary;
    border-radius: .3rem;

   }
    .email-me:hover{
    background-color: $rubyred;
    color: $white;
}
    .email-me:visited{
       background-color: $lightblue;
    }
    address{
        font-family: $font-family--primary
    }