.social-icon{
    height: 2rem;
    width: 2rem;
    fill: $white;
    margin: .5rem;
    text-decoration: none;
    cursor: pointer;
}
.foot-component{
    margin: 1rem 0;
}
.wash2{
    font-size: 2rem;
    font-weight: bolder;
    font-family: $font-family--secondary;
    color: $rubyred;
    margin-bottom: revert;
   }